<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <listener>
    <listener-class>javaClasses.ContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>javaClasses.LoginServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>CreateAccountServlet</servlet-name>
    <servlet-class>javaClasses.CreateAccountServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>PlayWithFriendServlet</servlet-name>
    <servlet-class>javaClasses.PlayWithFriendServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>javaClasses.AddFriendServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>javaClasses.RequestServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>BackToProfileServlet</servlet-name>
    <servlet-class>javaClasses.BackToProfileServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>javaClasses.GameServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AcceptRequestServlet</servlet-name>
    <servlet-class>javaClasses.AcceptRequestServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RejectRequestServlet</servlet-name>
    <servlet-class>javaClasses.RejectRequestServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>StartGameServlet</servlet-name>
    <servlet-class>javaClasses.StartGameServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>WaitingServlet</servlet-name>
    <servlet-class>javaClasses.WaitingServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>CheckQueueServlet</servlet-name>
    <servlet-class>javaClasses.CheckQueueServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LeaveQueueServlet</servlet-name>
    <servlet-class>javaClasses.LeaveQueueServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>JoinGameServlet</servlet-name>
    <servlet-class>javaClasses.JoinGameServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>BoardStateServlet</servlet-name>
    <servlet-class>javaClasses.BoardStateServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CreateAccountServlet</servlet-name>
    <url-pattern>/CreateAccountServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>PlayWithFriendServlet</servlet-name>
    <url-pattern>/PlayWithFriendServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AddFriendServlet</servlet-name>
    <url-pattern>/AddFriendServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/RequestServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>BackToProfileServlet</servlet-name>
    <url-pattern>/BackToProfileServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/Game</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AcceptRequestServlet</servlet-name>
    <url-pattern>/AcceptRequestServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RejectRequestServlet</servlet-name>
    <url-pattern>/RejectRequestServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>StartGameServlet</servlet-name>
    <url-pattern>/StartGameServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>WaitingServlet</servlet-name>
    <url-pattern>/WaitingServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CheckQueueServlet</servlet-name>
    <url-pattern>/CheckQueueServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LeaveQueueServlet</servlet-name>
    <url-pattern>/LeaveQueueServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JoinGameServlet</servlet-name>
    <url-pattern>/JoinGameServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>BoardStateServlet</servlet-name>
    <url-pattern>/BoardStateServlet</url-pattern>
  </servlet-mapping>

</web-app>
